# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/schoolconnect

# Server Configuration
PORT=4000 